.custom-checkbox {
    width: 200px;
}

.custom-checkbox__input {
    display: none;
}

.custom-checkbox__label {
    display: flex;
    cursor: pointer;
    /* align-items: baseline; */
}

.custom-checkbox__label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__label::before {
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--blue);
}

/* .custom-checkbox__label::after {} */
