.cta-form {
	background: var(--blue);
	color: #fff;
	padding: 100px 0;
}

.cta-form__content {
	font-size: 18px;
	line-height: 32px;
}

.cta-form__content h2 {
	font-size: 48px;
	line-height: 60px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.cta-form__content > *:not(:last-child) {
	margin: 0 0 1rem;
}

.cta-form__form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 50px;
}

.cta-form__input {
	background: #FFFFFF;
	border: 1px solid #C3CAD9;
	border-radius: 8px;
	height: 56px;
	display: flex;
	padding: 3px;
}

.cta-form__input-item {
	height: 100%;
	flex-grow: 1;
	border: none;
	background: transparent;
	padding: 0 12px;
	color: var(--black);
}

.cta-form__input-item::placeholder {
	color: #959EAD;
}

.cta-form__input-item:focus {
	outline: none;
}